<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avijit.warranttrackingsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_bp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_bp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarrantTrackingSystem">
        <activity android:name=".ui.activity.MainDashboardActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            />
        <activity android:name=".ui.activity.AuthActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>